MAXIONBENCH_SLURM_ACCOUNT=
MAXIONBENCH_SLURM_PARTITION=
MAXIONBENCH_SHARED_ROOT=/project/$USER/maxionbench
MAXIONBENCH_DATASET_ROOT=${MAXIONBENCH_SHARED_ROOT}/dataset
MAXIONBENCH_DATASET_CACHE_DIR=${MAXIONBENCH_SHARED_ROOT}/.cache
MAXIONBENCH_OUTPUT_ROOT=${MAXIONBENCH_SHARED_ROOT}/results
MAXIONBENCH_FIGURES_ROOT=${MAXIONBENCH_SHARED_ROOT}/figures
MAXIONBENCH_HF_CACHE_DIR=${MAXIONBENCH_SHARED_ROOT}/.cache/huggingface
MAXIONBENCH_APPTAINER_CACHE_DIR=${MAXIONBENCH_SHARED_ROOT}/.cache/apptainer
MAXIONBENCH_APPTAINER_TMPDIR=${MAXIONBENCH_APPTAINER_CACHE_DIR}/tmp
MAXIONBENCH_APPTAINER_MODULE=apptainer
MAXIONBENCH_CLEANUP_LOCAL_SCRATCH=1
MAXIONBENCH_CONTAINER_IMAGE=${MAXIONBENCH_SHARED_ROOT}/containers/maxionbench.sif
MAXIONBENCH_QDRANT_IMAGE=${MAXIONBENCH_SHARED_ROOT}/containers/qdrant.sif
MAXIONBENCH_PGVECTOR_IMAGE=${MAXIONBENCH_SHARED_ROOT}/containers/pgvector.sif
MAXIONBENCH_OPENSEARCH_IMAGE=${MAXIONBENCH_SHARED_ROOT}/containers/opensearch.sif
MAXIONBENCH_WEAVIATE_IMAGE=${MAXIONBENCH_SHARED_ROOT}/containers/weaviate.sif
MAXIONBENCH_MILVUS_ETCD_IMAGE=${MAXIONBENCH_SHARED_ROOT}/containers/milvus-etcd.sif
MAXIONBENCH_MILVUS_MINIO_IMAGE=${MAXIONBENCH_SHARED_ROOT}/containers/milvus-minio.sif
MAXIONBENCH_MILVUS_IMAGE=${MAXIONBENCH_SHARED_ROOT}/containers/milvus.sif
MAXIONBENCH_CRAG_EXAMPLES=500
